*{
    list-style: none;
    text-decoration: none;
}

a{  list-style: none;
    text-decoration: none;}

.principal{background-image: url(../img/old-books-arrangement-with-copy-space.jpg);
background-size: contain;
height: 50rem;}

.top-seller{background-color: rgb(24, 24, 48);
}

.contacto-pag{
    background-image: url(../img/creative-composition-with-different-books.jpg);
    height: 100vh;
    background-size: cover;
    
}



.fondo_apertura{
    margin-top: 8rem;
    display:flex;
    justify-content: center;
    align-self: center;
}

.fondo_inicio_sesion{
    margin-top: 8rem;
}


.main-carrito{
    background-color: rgb(241, 235, 227);
    padding: 10rem;
    border-radius: 2rem;
}
.carrito{
    background-color: bisque;
    padding-top: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 20rem;
    border-radius: 2rem;

}

.carrito h2,h3{text-align: center;
padding: 1.5rem;}

.carrito button{ width: 18rem;
    border-radius: 2rem;
    background-color: blueviolet;
align-self: center;
color: aliceblue;}

.carrito a{color: aliceblue;
    font-size: 20px;

}


.titulo_todas_las_asesorias{text-align: center;
padding-top: 4rem;
padding-bottom: 4rem;}

.main-productos{
   background-color: rgb(224, 221, 218);}

.carrito-vacio{
    width: 80px;}