*{
    list-style: none;
    text-decoration: none;
}

a{  list-style: none;
    text-decoration: none;
color: black;}

.principal{background-image: url(../img/old-books-arrangement-with-copy-space.jpg);
background-size: contain;
height: 50rem; display: flex;
flex-direction: column;}

.libro-detalle{background-color: rgba(28, 209, 164, 0.658);
    
}

.filtro{

}
.filtroPrecio{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.filtroPrecio button{
    width: 10rem;
    margin-left: 3rem;
    margin-top: 1rem;
    border-radius: .2rem;
    background-color: rgb(231, 111, 171);
    border: none;
    
}
.filtroPrecio input{
    margin-top: .4rem;
}
.producto-filtrado{
    padding: 2rem;
}
.card-box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5rem;
}

.tituloDeCategorias{text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;}
.contenedor-libros{
  
}
.filtro-imagen{
    width: 13vw;
}

.division{
 
    display: flex;
    flex-direction: column;
}
.principal h1{
    text-align: center;
    margin-top: 13rem;
    margin-bottom: 2rem;
}

.principal button{
    
    align-self: center;
}
.contacto-pag{
    background-image: url(../img/creative-composition-with-different-books.jpg);
    height: 100vh;
    background-size: cover;
    
}

.form-control{
    width: 30vw;
    align-self: center;
    margin-top: 3rem;
}

.fondo_apertura{
    margin-top: 8rem;
    display:flex;
    justify-content: center;
    align-self: center;
}

.fondo_inicio_sesion{
    margin-top: 8rem;
}

.navbar{
    background-color: rgba(28, 209, 164, 0.658);
    padding: 2rem;
}
.tiposCategorias{ background-color: rgba(28, 209, 164, 0.658) ;
height: 130vh;
padding-top: 5rem;
border-radius: .5rem;
padding-right: 0;}

.buscar{
    border-radius: .2rem;
    background-color: rgb(231, 111, 171);
    width: 5vw;
    margin-top: 1rem;
    margin-right: 2rem;
    border: none;
    padding:.5rem;
}
.btnMenu{
    border-radius: .2rem;
    background-color: rgb(231, 111, 171);
    width: 15vw;
    margin-bottom: 1rem;
    margin-right: 2rem;
    border: none;
    padding:.5rem;
}

.btnCarrito{
    margin-top: 6rem;
    margin-right: .1rem;
    margin-left: 3rem;
    background-color: white;
    padding: .28rem;
    color: black;
   
}

.btnLibro{
    background-color: rgb(231, 111, 171);
    border: none;
    border-radius: 1rem;
    margin: .2rem;
}

.btnLibro:hover{
    background-color: rgba(238, 150, 194, 0.753);
   
}


.suscribe_boletin{
    margin-top: 3rem;
    margin-bottom: 4rem;

}
.suscribe_boletin h2{
    font-size: 20px;
    text-align: center;
}

.suscribe_boletin input{
    width: 40vw;
    align-self: center;
}

.suscribe_boletin button{
    width: 10vw;
    align-self: center;
    margin-top: 1.3rem;
    background-color: rgb(231, 111, 171);
    border-radius: 1rem;
    border: none;
}

.volver{
    margin-top: 4rem;
}
.main-carrito{
    background-color: rgb(241, 235, 227);
    padding: 10rem;
    border-radius: 2rem;
}
.contenedorCarrito{
    background-color: rgba(28, 209, 164, 0.658);
    padding-top: 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 20rem;
    border-radius: 2rem;

}

.carritoEmpty {text-align: center;
padding: 1.5rem;}

.carrito button{ width: 18rem;
    border-radius: 2rem;
    background-color: blueviolet;
align-self: center;
color: aliceblue;}

.carrito a{color: aliceblue;
    font-size: 20px;

}


.btn-group{

    display: flex;
    width: 10vw;
 
    margin-bottom: 8rem;
    background-color: rgb(231, 111, 171);
border: none;
}

.cajaFiltro
.dropdown-menu{
width: 18vw;
background-color: none;
}

.filtrarPor{
    border: none;
    background-color: none
}
.main-productos{
   background-color: rgb(224, 221, 218);}

/*carrito de compras*/

.btnAumentar, .btnDisminuir{
    border-radius: 1rem;
    background-color: rgb(231, 111, 171);
    margin: .4rem;

}

small{
    font-size: 15px;
    font-weight: bold;
}

.carritoEmpty  h2{
    font-size: 35px;
   padding-top: 8rem;
   padding-bottom: 2rem;
   font-weight: bold;
}
.carritoEmpty  button{
    font-size: 20px;
    margin-top: 4rem;
    background-color: rgb(231, 111, 171);
    padding: 0.5rem;
    width: 18vw;
    align-self: center;
    border-radius: 1rem;
    border: none;
}

.on{
    background-image: url(../img/studio-shot-joyful-european-woman-wears-round-spectacles-holds-many-books.jpg);
background-size: cover;
height: 150vh;
background-color: none;
padding-top: 0;
padding-bottom: 0rem;

}
.carritoEmpty  h3{
    margin-top: 1rem;
    font-size: 25px;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-libros{
    display: flex;
    justify-content: space-between;
    background-color: rgba(229, 142, 186, 0.582);
    padding: 0.8rem;
    border-radius: 1rem;
    align-items: center;
}
.libroImagenEnCarrito{
    width: 4rem;
    border-radius: 1rem;
}

.librosEnCarrito small{
    font-size: .85rem;
    font-weight: bold;
}

.eliminarLibroCarrito{
    border: 0;
    background-color: transparent;
    width: 7vw;
    cursor: pointer;
    font-size: 10px;
    
}

.carritoTituloLibro h3{
    font-size: 15px;
    flex-wrap: nowrap;
    width: 10vw;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.vaciarCarrito{
    border: 0;
    background-color: rgb(231, 111, 171);
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 1rem;
}

.btnComprarCarrito{
    border: 0;
    background-color: rgb(231, 111, 171);
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 2rem;
    margin-right: 2rem;
}

.box-carrito-compra{
    display: flex;
}

.montoTotalCarrito{
    display: flex;
    background-color: rgb(231, 111, 171);
    padding: .5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.compraRealizada{
    font-weight: bold;
    font-size: 30px;
    width: 30vw;
}
.disabled{
    display: none;
}

.CantidadCarrito{
    background-color: white;
    padding: .25rem;
    border-radius: 1rem;
    
}
/* media query*/

@media (max-width: 576px) {s

    .tiposCategorias{
        padding: 0;
        margin: 0;
    }
    .boton-menu{
        width: 27vw;
        padding: 0.2;
        margin-right: 0.5rem;
     
        font-size: 15px;
    }
.librosEnCarrito{flex-direction: column;}

.carrito-acciones{
    flex-direction: column;
}
.vaciarCarrito{
    
}
.btn{
    font-size: 13px;
    width: 18vw;
}

.montoTotalCarrito{
    width: 18vw;
}

.montoTotalCarrito p{
    font-size: 15px;
}
.box-carrito-compra{
    flex-direction: column;
}}